{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  {% load jformat %}
  <html lang="fa" dir="rtl">
    <body>
      <!-- Preloader -->
      <div id="preloader">
        <div class="loading-area">
          <div class="circle"></div>
        </div>
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>

      <div class="header-mobile">
        <a class="header-toggle"><i class="fas fa-bars"></i></a>
        <h2>مهیار حیدری</h2>
      </div>

      <!-- Blog Page -->
      <div class="blog-list" data-simplebar>
        <div class="blog-head">
          <h2>بازیابی رمز ورود</h2>
          <ul class="blog-breadcrumb">
            <li>
              <a href="{% url 'website:index' %}">خانه</a>
            </li>
            <li>بازیابی رمز ورود</li>
          </ul>
        </div>
        <div class="row blog-list-container">
          <div class="col-md-10 offset-md-1">
            <head>
              <meta charset="UTF-8" />
              <title>لینک بازیابی رمز عبور ارسال شد</title>
            </head>
            <body>
              <h1>لینک بازیابی رمز عبور ارسال شد</h1>
              <p>ایمیلی برای بازنشانی رمز عبور شما ارسال شده است. لطفا صندوق ورودی خود را بررسی کنید.</p>
            </body>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
