{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  {% load jformat %}
  <html lang="fa" dir="rtl">
    <body>
      <!-- Preloader -->
      <div id="preloader">
        <div class="loading-area">
          <div class="circle"></div>
        </div>
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>

      <!-- Mobile Header -->
      <div class="header-mobile">
        <a class="header-toggle"><i class="fas fa-bars"></i></a>
        <h2>مهیار حیدری</h2>
      </div>

      <!-- Blog Page -->
      <div class="blog-list" data-simplebar>
        <div class="blog-head">
          <h2>فراموشی رمز</h2>
          <ul class="blog-breadcrumb">
            <li>
              <a href="{% url 'website:index' %}">خانه</a>
            </li>
            <li>فراموشی رمز</li>
          </ul>
        </div>
        <div class="row blog-list-container">
          <div class="col-md-10 offset-md-1">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    {{ field }}: {{ error }}
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <form class="box-1 contact-valid text-center" method="post" action="{% url 'accounts:forgot_password' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="inputEmail" class="form-label">ایمیل</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="ایمیل" name="email" required autofocus />
              </div>
              {{ form.captcha }}
              <button class="btn btn-primary btn-st" type="submit">ارسال</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
