{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  {% load jformat %}
  <html lang="fa" dir="rtl">
    <body>
      <!-- Preloader -->
      <div id="preloader">
        <div class="loading-area">
          <div class="circle"></div>
        </div>
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>

      <div class="header-mobile">
        <a class="header-toggle"><i class="fas fa-bars"></i></a>
        <h2>مهیار حیدری</h2>
      </div>

      <!-- Blog Page -->
      <div class="blog-list" data-simplebar>
        <div class="blog-head">
          <h2>ورود</h2>
          <ul class="blog-breadcrumb">
            <li>
              <a href="{% url 'website:index' %}">خانه</a>
            </li>
            <li>ورود</li>
          </ul>
        </div>
        <div class="row blog-list-container">
          <div class="col-md-10 offset-md-1">
            <form class="box-1 contact-valid text-center" method="post" action="{% url 'accounts:signup' %}">
              {% csrf_token %}

              <div class="form-group">
                <label for="inputUsername" class="form-label">نام کاربری</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="نام کاربری" required />
              </div>

              <div class="form-group">
                <label for="inputEmail" class="form-label">ایمیل</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="ایمیل" required />
              </div>

              <div class="form-group">
                <label for="inputPassword1" class="form-label">رمز عبور</label>
                <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="رمز عبور" required />
              </div>

              <div class="form-group">
                <label for="inputPassword2" class="form-label">تکرار رمز عبور</label>
                <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="تکرار رمز عبور" required />
              </div>

              <div class="form-group form-check mb-3">
                <!-- Optional: Add checkbox here if needed -->
              </div>

              <button class="btn btn-primary btn-st" type="submit">عضویت</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
