{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  {% load jformat %}
  <html lang="fa" dir="rtl">
    <body>
      <!-- Preloader -->
      <div id="preloader">
        <div class="loading-area">
          <div class="circle"></div>
        </div>
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>

      <div class="header-mobile">
        <a class="header-toggle"><i class="fas fa-bars"></i></a>
        <h2>مهیار حیدری</h2>
      </div>

      <!-- Blog Page -->
      <div class="blog-list" data-simplebar>
        <div class="blog-head">
          <h2>بلاگ</h2>
          <ul class="blog-breadcrumb">
            <li>
              <a href="{% url 'website:index' %}">خانه</a>
            </li>
            <li>بلاگ</li>
          </ul>
        </div>
        <div class="row blog-list-container">
          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col-md-8">
                <!-- Blog Post -->
                {% for post in posts %}
                  <div class="blog-post">
                    <div class="content">
                      <div class="thumbnail">
                        <a href=""><img src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
                      </div>
                      <div class="detalis">
                        <ul class="meta">
                          {% for category in post.category.all %}
                            <li>
                              <i class="fa fa-list"></i><a href="{% url 'blog:category' category_name=category.name %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                            </li>
                          {% endfor %}
                          <li>
                            <i class="fa fa-calendar"></i>{{ post.published_date|jformat:'%d %m %Y' }}
                          </li>
                          <li>
                            <i class="icon fa fa-user"></i><a href="{% url 'blog:author' author_username=post.author %}">{{ post.author.username }}</a>
                          </li>
                        </ul>
                        <h4><a href="{% url 'blog:single' post.id %}">{{ post.title }}</a></h4>
                        <div class="text">{{ post.content|truncatewords:15|safe }}</div>
                        <a href="{% url 'blog:single' post.id %}" class="btn-st">مشاهده بیشتر</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <!-- Pagination Blog -->
                {% if page_obj.paginator.num_pages > 1 %}
                  <ul class="pagination">
                    <li class="page-item">
                      <a href="?page=1{% if category_name %}{{ category_name }}{% endif %}{% if author_username %}{{ author_username }}{% endif %}" aria-label="First"><span aria-hidden="true"><span class="fa fa-angle-right"></span></span></a>
                    </li>
                    <li class="page-item {% if page_obj.number == 1 %}{% endif %}">
                      <a href="?page=1{% if category_name %}{{ category_name }}{% endif %}{% if author_username %}{{ author_username }}{% endif %}">1</a>
                    </li>
                    {% for num in page_obj.paginator.page_range %}
                      {% if num > 1 and num < page_obj.paginator.num_pages %}
                        <li class="page-item {% if num == page_obj.number %}{% endif %}">
                          <a href="?page={{ num }}{% if category_name %}{{ category_name }}{% endif %}{% if author_username %}{{ author_username }}{% endif %}">{{ num }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}{% endif %}">
                      <a href="?page={{ page_obj.paginator.num_pages }}{% if category_name %}{{ category_name }}{% endif %}{% if author_username %}{{ author_username }}{% endif %}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    <li class="page-item">
                      <a href="?page={{ page_obj.paginator.num_pages }}{% if category_name %}{{ category_name }}{% endif %}{% if author_username %}{{ author_username }}{% endif %}" aria-label="Last"><span aria-hidden="true"><span class="fa fa-angle-left"></span></span></a>
                    </li>
                  </ul>
                {% endif %}
              </div>

              <div class="col-md-4">
                <div class="side-left">
                  <!-- Search -->
                  {% search %}
                  <!-- Categories -->
                  <div class="categories">
                    <h4>دسته‌بندی ها</h4>
                    <ul>
                      {% postcategories %}
                    </ul>
                  </div>

                  <!-- Recent News -->
                  <div class="news">
                    <h4>اخرین مطالب</h4>
                    <ul>
                      {% latestposts %}
                    </ul>
                  </div>

                  <!-- Gallery -->
                  <div class="gallery">
                    <h4>گالری</h4>
                    <ul>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-1.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-2.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-3.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-4.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-5.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-6.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-7.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-8.jpg' %}" alt="" />
                      </li>
                    </ul>
                  </div>

                  <!-- Archives -->
                  <div class="archives">
                    <h4>بایگانی</h4>
                    <ul>
                      <li>
                        <a href="#">اسفند 1398</a>
                      </li>
                      <li>
                        <a href="#">بهمن 1398</a>
                      </li>
                      <li>
                        <a href="#">دی 1398</a>
                      </li>
                    </ul>
                  </div>

                  <!-- Tags -->
                  <div class="tags">
                    <h4>برچسب ها</h4>
                    <ul>
                      <li>
                        <a href="#">سفارش</a>
                      </li>
                      <li>
                        <a href="#">کسب و کار</a>
                      </li>
                      <li>
                        <a href="#">فضای ابری</a>
                      </li>
                      <li>
                        <a href="#">هاستینگ</a>
                      </li>
                      <li>
                        <a href="#">زندگی</a>
                      </li>
                      <li>
                        <a href="#">تکنیک</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
