{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% load jformat %}
  <html lang="fa" dir="rtl">
    <body>
      <!-- Preloader -->
      <div id="preloader">
        <div class="loading-area">
          <div class="circle"></div>
        </div>
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>

      <div class="header-mobile">
        <a class="header-toggle"><i class="fas fa-bars"></i></a>
        <h2>مهیار حیدری</h2>
      </div>

      <!-- Blog Page -->
      <div class="blog-list" data-simplebar>
        <div class="blog-head">
          <h2>بلاگ</h2>
          <ul class="blog-breadcrumb">
            <li>
              <a href="{% url 'website:index' %}">خانه</a>
            </li>
            <li>بلاگ</li>
          </ul>
        </div>
        <div class="row blog-list-container">
          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col-md-8">
                <!-- Blog Post -->
                {% for post in posts %}
                  <div class="blog-post">
                    <div class="content">
                      <div class="thumbnail">
                        <a href=""><img src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
                      </div>
                      <div class="detalis">
                        <ul class="meta">
                          <li>
                            <i class="fa fa-calendar"></i>{{ post.published_date|jformat:'%d %B %Y' }}
                          </li>
                          <li>
                            <i class="icon fa fa-user"></i>{{ post.author.username }}
                          </li>
                        </ul>
                        <h4><a href="{% url 'blog:single' post.id %}">{{ post.title }}</a></h4>
                        <div class="text">{{ post.content|truncatewords:15|safe }}</div>
                        <a href="{% url 'blog:single' post.id %}" class="btn-st">مشاهده بیشتر</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <!-- Blog Post -->
                <div class="blog-post">
                  <div class="content">
                    <div class="thumbnail">
                      <a href="blog-single.html"><img src="{% static 'img/blog/post/blog-2.jpg' %}" alt="" /></a>
                    </div>
                    <div class="detalis">
                      <ul class="meta">
                        <li>
                          <i class="fa fa-calendar"></i>23 اسفند 1398
                        </li>
                        <li>
                          <i class="icon fa fa-user"></i>جان اسنو
                        </li>
                      </ul>
                      <h4><a href="blog-single.html">لورم ایپسوم متن ساختگی</a></h4>
                      <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</div>
                      <a href="blog-single.html" class="btn-st">مشاهده بیشتر</a>
                    </div>
                  </div>
                </div>

                <!--                 Blog Post<div class="blog-post">
                  <div class="content">
                    <div class="thumbnail">
                      <a href="blog-single.html"><img src="{% static 'img/blog/post/blog-3.jpg' %}" alt="" /></a>
                    </div>
                    <div class="detalis">
                      <ul class="meta">
                        <li>
                          <i class="fa fa-calendar"></i>19 بهمن 1398
                        </li>
                        <li>
                          <i class="icon fa fa-user"></i>جان اسنو
                        </li>
                      </ul>
                      <h4><a href="blog-single.html">لورم ایپسوم متن</a></h4>
                      <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال</div>
                      <a href="blog-single.html" class="btn-st">مشاهده بیشتر</a>
                    </div>
                  </div>
                </div>               -->

                <!--                 Blog Post 
                <div class="blog-post">
                  <div class="content">
                    <div class="thumbnail">
                      <a href="blog-single.html"><img src="{% static 'img/blog/post/blog-4.jpg' %}" alt="" /></a>
                    </div>
                    <div class="detalis">
                      <ul class="meta">
                        <li>
                          <i class="fa fa-calendar"></i>14 بهمن 1398
                        </li>
                        <li>
                          <i class="icon fa fa-user"></i>جان اسنو
                        </li>
                      </ul>
                      <h4><a href="blog-single.html">لورم ایپسوم متن ساختگی</a></h4>
                      <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</div>
                      <a href="blog-single.html" class="btn-st">مشاهده بیشتر</a>
                    </div>
                  </div>
                </div>                -->

                <!-- Pagination Blog -->
                <ul class="pagination">
                  <li>
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </li>
                  <li>
                    <a href="#">1</a>
                  </li>
                  <li class="active">
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-angle-left"></i></a>
                  </li>
                </ul>
              </div>

              <div class="col-md-4">
                <div class="side-left">
                  <!-- Search -->
                  <form class="search" action="#">
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="fas fa-search"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="جستجو ..." />
                    </div>
                  </form>

                  <!-- Categories -->
                  <div class="categories">
                    <h4>دسته‌بندی ها</h4>
                    <ul>
                      <li>
                        <a href="#">مشاوره</a>
                      </li>
                      <li>
                        <a href="#">سبک زندگی</a>
                      </li>
                      <li>
                        <a href="#">تکنولوژی</a>
                      </li>
                    </ul>
                  </div>

                  <!-- Recent News -->
                  <div class="news">
                    <h4>اخبار جدید</h4>
                    <ul>
                      <li>
                        <div class="mess-img">
                          <img src="{% static 'img/blog/post/blog-4.jpg' %}" alt="" />
                        </div>
                        <div class="mess-info">
                          <h5><a href="#">لورم ایپسوم متن ساختگی</a></h5>
                          <p>
                            <i class="fa fa-calendar"></i>23 اسفند 1398
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="mess-img">
                          <img src="{% static 'img/blog/post/blog-3.jpg' %}" alt="" />
                        </div>
                        <div class="mess-info">
                          <h5><a href="#">لورم ایپسوم متن</a></h5>
                          <p>
                            <i class="fa fa-calendar"></i>14 بهمن 1398
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="mess-img">
                          <img src="{% static 'img/blog/post/blog-2.jpg' %}" alt="" />
                        </div>
                        <div class="mess-info">
                          <h5><a href="#">لورم ایپسوم متن ساختگی</a></h5>
                          <p>
                            <i class="fa fa-calendar"></i>19 بهمن 1398
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <!-- Gallery -->
                  <div class="gallery">
                    <h4>گالری</h4>
                    <ul>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-1.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-2.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-3.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-4.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-5.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-6.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-7.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img src="{% static 'img/blog/post/gallery/gallery-8.jpg' %}" alt="" />
                      </li>
                    </ul>
                  </div>

                  <!-- Archives -->
                  <div class="archives">
                    <h4>بایگانی</h4>
                    <ul>
                      <li>
                        <a href="#">اسفند 1398</a>
                      </li>
                      <li>
                        <a href="#">بهمن 1398</a>
                      </li>
                      <li>
                        <a href="#">دی 1398</a>
                      </li>
                    </ul>
                  </div>

                  <!-- Tags -->
                  <div class="tags">
                    <h4>برچسب ها</h4>
                    <ul>
                      <li>
                        <a href="#">سفارش</a>
                      </li>
                      <li>
                        <a href="#">کسب و کار</a>
                      </li>
                      <li>
                        <a href="#">فضای ابری</a>
                      </li>
                      <li>
                        <a href="#">هاستینگ</a>
                      </li>
                      <li>
                        <a href="#">زندگی</a>
                      </li>
                      <li>
                        <a href="#">تکنیک</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
